.modal {
  .modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .confirmButton {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
